.icon { 
  width: 900px;
  width: 1200px;
  height: 180px;
  display: inline-block;
  background: url(../img/radio.svg) no-repeat 50% 50%; 
  /* background-size: cover; */
}

.icon-red {}

.icon-orange { 
  -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
  filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
}

.icon-yellow {
  -webkit-filter: hue-rotate(70deg) saturate(100);
  filter: hue-rotate(70deg) saturate(100);
}

.icon-green{
  -webkit-filter: hue-rotate(120deg) saturate(1.5);    
  filter: hue-rotate(120deg) saturate(1.5);    
}

/* LAYOUT */
html, body { height: 100%; }

body { 
  background: blue; 
  margin: 0;
}

