.icon {
  width: 900px;
  height: 180px;
  display: inline-block;
  
  -webkit-mask: url(../img/radio.svg) no-repeat 50% 50%;
  mask: url(../img/radio.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover; 
}

.icon-red { background-color: red; }
.icon-orange { background-color: orange; }
.icon-yellow { background-color: yellow; }
.icon-green { background-color: green; }

/* LAYOUT */
html, body { height: 100%; }

body { 
  background: blue; 
  margin: 0;
}